<h1>Selecione o Mes</h1>

<% form_tag '/montly_details/show' do %>
	Selecione ano e mes: <br />
	<%= select "", "year", @year.collect {|y| [y.year, y.year] } %>
	<%= select "", "month", @month.collect {|m| [m.month, m.month] } %>
	
	<br /><br />
	<%= submit_tag %>
<% end %>