<h1>Editing income</h1>

<% form_for(@income) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @income %> |
<%= link_to 'Back', incomes_path %>