/*======================================
      WELCOME TO THE STYLESHEET
--------------------------------------      
     Copyright Mike Crittenden
      Author: Mike Crittenden
======================================*/
 
/**************************************\
|------------COLOR SCHEME--------------|
|--------------------------------------|
- black		#000
- white		#fff
\**************************************/
.outcome-red-flag {
	background: #e5a2a2;
}
.outcome-yellow-flag {
	background: #EEF66C;
}
.text-red { color: red; }

/**************************************/
/*              GLOBALS               */
/**************************************/
.main-grid td {
	padding: 1px 10px;
}

.main-grid th {
	background: #ddd;
	padding: 5px;
}

.bold { font-weight: bold; }
.align-right { float: right; }

/**************************************/
/*              HEADER                */
/**************************************/



/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/



/**************************************/
/*               FOOTER               */
/**************************************/


