<h1>Listing subcategories</h1>

<table>
  <tr>
  </tr>

<% @subcategories.each do |subcategory| %>
  <tr>
	<td><%= subcategory.category.label %> / <%= subcategory.label %></td>
    <td><%= link_to 'Destroy', subcategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New subcategory', new_subcategory_path %>