<h1>New subcategory</h1>

<% form_for(@subcategory) do |f| %>
	<%= f.error_messages %>
	<div class="span-4"><%= f.label :description, "Descrição" %></div>
	<div class="span-24 last">				
	</div>
	<div class="span-4"></div>

	<div class="span-20 last" id="subcategory">
		<!-- This is where subcategory select is placed -->
	</div>
	<div class="span-24 last"><%= f.submit 'Salvar' %></div>
<% end %>

