<h1>Listing submenus</h1>

<table>
  <tr>
  </tr>

<% @submenus.each do |submenu| %>
  <tr>
    <td><%= link_to 'Show', submenu %></td>
    <td><%= link_to 'Edit', edit_submenu_path(submenu) %></td>
    <td><%= link_to 'Destroy', submenu, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New submenu', new_submenu_path %>